@{
    ViewData["Title"] = "Actions";
}

<div class="text-center">
    <h1 class="display-4">You are logged in as employee</h1>
    <p>Select action</p>
    <br />
        <a class="btn btn-outline-danger" asp-controller="Workers" asp-action="Index">Workers</a>
        <a class="btn btn-outline-danger" asp-controller="Clients" asp-action="Index">Clients</a>
        <a class="btn btn-outline-success" asp-controller="Orders" asp-action="Index">Orders</a>
        <a class="btn btn-outline-light" asp-controller="Goods" asp-action="Index">Magazine</a>
        <a class="btn btn-outline-warning" asp-controller="FinanceRecords" asp-action="Index">Finance Records</a>
        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
    
</div>
